streamlit>=1.29     # frontend framework
supabase>=2.0.2     # supabase client for python
fastapi>=0.104.1    # backend framework 
uvicorn>=0.24.0     # ASGI server for fastApi
python-dotenv>=1.0.0  # Environment variables
